.character {
  display: grid;
  grid-template-rows: 1.5fr 1fr 2fr;
  height: 700px;
  width: 200px;
}

.character-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
