.input-field {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.catchphrase-display {
  font-size: 2rem;
  font-family: cursive;
  text-align: center;
}

.picker {
  display: flex;
  flex-direction: column;
}
